.profile {
  display: flex;
  max-width: 880px;
  margin: auto;
  margin-top: 40px;
}

@media (max-width: 920px) {
  .profile {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 856px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
    margin-left: 19px;
    margin-right: 19px;
  }
}
