.sign-in-up__form-submit {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  border: none;
  cursor: pointer;
}
